<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <title>FitHub</title>

    <link href="https://cdn.prod.website-files.com/602e266b79d4be7eebca445f/css/ravin-dev.webflow.236478fa3.min.css" rel="stylesheet" type="text/css" />

    <style>
        .hover-line {
            border-color: inherit;
        }

        .body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .dropdown-inner {
            backdrop-filter: blur(20px);
        }

        .navbar {
            position: sticky;
            background-color: #EAEAEA !important;
        }

        .logo-slider-holder {
            animation: moveSlideshow 50s linear infinite;
            width: fit-content;
        }

        .logo-slider-holder:hover {
            animation-play-state: paused;
        }

        @keyframes moveSlideshow {
            100% {
                transform: translateX(-50%);
            }
        }

        html {
            font-size: 1rem;
        }

        @media screen and (max-width: 1440px) {
            html {
                font-size: calc(0.599rem + 0.445vw);
            }
        }

        @media screen and (max-width: 991px) {
            html {
                font-size: 1rem;
            }
        }
    </style>
</head>

<body class="body">
    <div class="gtm w-embed w-iframe"></div>

    <div data-collapse="none" data-animation="default" data-duration="0" data-w-id="7886044b-d1fc-5dc4-f1ba-6e71ecaf503c" data-easing="ease" data-easing2="ease" role="banner" class="navbar _404 w-nav">
        <div class="rem w-embed">
        </div>

        <div class="navbar-container">
            <a href="/" aria-current="page" class="brand w-nav-brand w--current">
                <img src="/main_banner.png" loading="lazy" alt="Ravin Logo" class="logo white" />
            </a>

            <div class="solution-top-text">
                <div class="solutions-top">솔루션</div>
                <div class="solution-underline"></div>
            </div>

            <div id="back-to-menu" data-w-id="cd311766-ebfe-264d-081d-40c5931cf6b8" class="back-to-main">
                <img src="https://cdn.prod.website-files.com/602e266b79d4be7eebca445f/603b999fa83b1a14b29c7b9f_arrow%20left%20back%20to%20main.svg" loading="lazy" alt="" />
            </div>

            <nav role="navigation" class="nav-menu w-nav-menu">
                <div id="mobile-menu" class="menu-items-holder main">
                    <div class="mobile-menu-items-holder">
                        <div class="hight-stopper">
                            <div class="link-item">
                                <a href="/tools" class="nav-linkblock w-inline-block">
                                    <div class="nav-link text" style="color: black; font-weight: bold;">홈</div>
                                </a>
                                <a href="/tools" class="hover-line w-inline-block"></a>
                                <a href="/tools" class="current-line w-inline-block"></a>
                            </div>
                            <div class="link-item mobile-only">
                                <a href="/private-seller" class="nav-linkblock w-inline-block">
                                    <div class="nav-link text">운동정보</div>
                                </a>
                                <a href="/tools" class="hover-line w-inline-block"></a>
                                <a href="/tools" class="current-line w-inline-block"></a>
                            </div>
                            <div class="link-item mobile-only">
                                <a href="/buyer" class="nav-linkblock w-inline-block">
                                    <div class="nav-link text">식단관리</div>
                                </a>
                                <a href="/tools" class="hover-line w-inline-block"></a>
                                <a href="/tools" class="current-line w-inline-block"></a>
                            </div>
                            <div class="link-item mobile-only">
                                <a href="/tools" class="hover-line w-inline-block"></a>
                                <a href="/tools" class="current-line w-inline-block"></a>
                            </div>
                            <div class="nav-linkblock mobile">
                                <div class="nav-link mobile">운동장비 및 헬스장 정보</div>
                                <div id="solutions" data-w-id="8a2bbd7b-4600-6f83-f6f1-c005923abad3" class="solutions-click"></div>
                                <img src="https://cdn.prod.website-files.com/602e266b79d4be7eebca445f/603b92c61d3cc5521c8fbef4_Arrow%20right.svg" loading="lazy" alt="" class="solutions-arrow" />
                                <div class="hover-line"></div>
                            </div>
                            <div class="link-item desktop">
                                <div class="nav-linkblock desktop">
                                    <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
                                        <div class="dropdown-toggle w-dropdown-toggle">
                                            <div class="nav-link text" style="color: black; font-weight: bold;">운동정보</div>
                                            <img src="https://cdn.prod.website-files.com/602e266b79d4be7eebca445f/60379f8523631243e47ceb15_solution-arrow.svg" loading="lazy" alt="" class="solution-arrow" />
                                        </div>
                                        <nav class="dropdown-list w-dropdown-list">
                                            <div class="dropdown-inner">
                                                <a href="/private-seller" class="dropdown-link min-width w-dropdown-link">운</a>
                                                <a href="/buyer" class="dropdown-link min-width w-dropdown-link">동</a>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                            </div>
                            <div class="link-item desktop">
                                <div class="nav-linkblock desktop">
                                    <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
                                        <div class="dropdown-toggle w-dropdown-toggle">
                                            <div class="nav-link text" style="color: black; font-weight: bold;">가나다</div>
                                            <img src="https://cdn.prod.website-files.com/602e266b79d4be7eebca445f/60379f8523631243e47ceb15_solution-arrow.svg" loading="lazy" alt="" class="solution-arrow" />
                                        </div>
                                        <nav class="dropdown-list w-dropdown-list" style="color: black; font-weight: bold;">
                                            <div class="dropdown-inner">
                                                <a href="/solutions-fleet-solutions" class="dropdown-link w-dropdown-link">가</a>
                                                <a href="/solutions-remarketing-platforms" class="dropdown-link w-dropdown-link">나</a>
                                                <a href="/solutions-insurance-claims" class="dropdown-link w-dropdown-link">다</a>
                                                <a href="/solutions-service-centres" class="dropdown-link w-dropdown-link">라</a>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                            </div>
                            <div class="link-item">
                                <a href="/blog" class="nav-linkblock w-inline-block">
                                    <div class="nav-link text" style="color: black; font-weight: bold;">식단관리</div>
                                </a>
                                <a href="https://medium.com/ravin-ai" class="hover-line w-inline-block"></a>
                                <a href="https://medium.com/ravin-ai" class="current-line w-inline-block"></a>
                            </div>
                            <div class="link-item">
                                <a href="/careers" class="nav-linkblock w-inline-block">
                                    <div class="nav-link text" style="color: black; font-weight: bold;">운동장비 및 헬스장 정보</div>
                                </a>
                                <a href="#" class="hover-line w-inline-block"></a>
                                <a href="#" class="current-line w-inline-block"></a>
                            </div>
                            <div class="link-item">
                                <a href="/media" class="nav-linkblock w-inline-block">
                                    <div class="nav-link text" style="color: black; font-weight: bold;">커뮤니티</div>
                                </a>
                                <a href="#" class="hover-line w-inline-block"></a>
                                <a href="#" class="current-line w-inline-block"></a>
                            </div>
                            <div class="link-item">
                                <a href="/leadership" class="nav-linkblock margin-32 w-inline-block">
                                    <div class="nav-link text" style="color: black; font-weight: bold;">피트니스 도구</div>
                                </a>
                                <a href="/leadership" class="hover-line w-inline-block"></a>
                                <a href="/leadership" class="current-line w-inline-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=602e266b79d4be7eebca445f" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
                <script src="https://cdn.prod.website-files.com/602e266b79d4be7eebca445f/js/webflow.35ab605a3.js" type="text/javascript"></script>

                <script>
                    function showModalAfterDelay() {
                        const modal = document.querySelector('[mt-el=modal]');
                        if (modal) {
                            setTimeout(function() {
                                modal.style.display = 'flex';
                            }, 5000); // 5000 milliseconds (5 seconds)
                        }
                    }
                    window.addEventListener('load', showModalAfterDelay);
                </script>
            </nav>
        </div>
    </div>
</body>

</html>
